# build output
*.dll
*.lib
*.so
*.a
*.obj
*.o

/build*/
/cmake-build*/
/*wine*/
/dist/

# IDEs
.idea/

# test files
.gdb_history
winedbg_history
/*.c
/ResourceHacker*
/*.exe
/*test*

# syncthing
.stfolder/
.stversions/
.stignore

# vagrant for build test vms
Vagrantfile
.vagrant
